[
    {
        "sushi":[
            {
                "id":"F19",
                "num":"1"
            }
            ]
    },
    {
        "sushi":[
            {
                "id":"F12",
                "num":"1"
            },
            {
                "id":"F13",
                "num":"1"
            }
        ]
    }
]