[
    {
        "address1":"home",
        "address2":"",
        "sushi":[
            {
                "id":"F19",
                "num":"1"
            }
            ]
    },
    {
        "address1":"",
        "address2":"",
        "sushi":[
            {
                "id":"F12",
                "num":"1"
            },
            {
                "id":"F13",
                "num":"1"
            }
        ]
    }
]